.grey-text-block p {
	text-align: center;
	font:16px/1.5em Helvetica;
	margin:0 0 26px;
	color:#666;
}

.navbar-custom a.contacts-href{
   color: #f43653;
}

.icons {
	color: #bd2842;
}

img.imgborder {
    padding: 0px 0px 0px 0px; 
    margin: 0px 50px 0px 50px; 
    width: 150px;
    height: 150px; 
}

img.imgborder:hover {
    outline: 5px solid #222;
    outline-offset: -5px;
}

img.imgborder-active {
    outline: 5px solid #bd2842;
    outline-offset: -5px;
}

img.imgborder-active:hover {
    outline: 5px solid #b00928;
    outline-offset: -5px;
}

.carousel-container {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-inner{
  width:100%;
  max-height: 550px !important;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}